:root {
    --body: #fff;
    --black: #000;
    --white: #fff;
    --primary-color: #1B8354;
    --secondary-color: #47CD89;
    --text-primary-color: #1B8354;
    --text-subtitle: #00a6ff;
    --text-default: var(--colors-base-black);
    --text-primary: var(--colors-primary-sa-flag-600-primary);
    --text-secondary: var(--colors-secondary-gold-600-primary);
    --text-tertiary: var(--colors-tertiary-lavendar-500-primary);
    --text-primary-sa-flag: var(--colors-primary-sa-flag-800);
    --text-display: var(--colors-neutral-800);
    --text-primary-paragraph: var(--colors-neutral-700);
    --text-secondary-paragraph: var(--colors-neutral-500);
    --text-oncolor-primary: var(--colors-base-white);
    --text-oncolor-secondary: var(--alpha-white-80);
    --text-oncolor-tertiary: var(--alpha-white-70);
    --text-success: var(--colors-green-700);
    --text-info: var(--colors-blue-700);
    --text-warning: var(--colors-yellow-700);
    --text-error: var(--colors-red-700);
    --text-primary-light: var(--colors-primary-sa-flag-300);
    --text-secondary-light: var(--colors-secondary-gold-300);
    --text-tertiary-light: var(--colors-tertiary-lavendar-300);
    --text-default-disabled: var(--colors-neutral-400);
    --text-default-oncolor-disabled: var(--alpha-white-40);
    --colors-text-primary: var(--colors-gray-900);
    --colors-text-primary_on-brand: var(--colors-base-white);
    --colors-text-secondary: var(--colors-gray-700);
    --colors-text-secondary_on-brand: hsla(var(--colors-alpha-white) / 70%);
    --colors-text-tertiary: var(--colors-gray-600);
    --colors-text-quarterary: var(--colors-gray-500);
    --colors-text-white: var(--colors-base-white);
    --colors-text-disabled: var(--colors-gray-500);
    --colors-text-placeholder: var(--colors-gray-500);
    --colors-text-brand-primary: var(--colors-brand-800);
    --colors-text-brand-secondary: var(--colors-brand-700);
    --colors-text-error-primary: var(--colors-error-600);
    --colors-border-primary: var(--colors-gray-300);
    --colors-border-secondary: var(--colors-gray-200);
    --colors-border-disabled: var(--colors-gray-300);
    --colors-border-disabled_subtle: var(--colors-gray-200);
    --colors-border-brand: var(--colors-brand-300);
    --colors-border-error: var(--colors-error-300);
    --bg-primary-color: var(--primary-color);
    --bg-primary-color2: #4E29B7;
    --bg-primary-color3: #005D45;
    --bg-secondary-color: var(--primary-color);
    --primary-color-rgb-1: 49, 148, 179;
    --bg-accent-rgb-color: 0,28,77;
    --background-neutral-100: #F3F4F6;
    --white-transp-1: rgba(255, 255, 255, 0.7);
    --white-transp-2: rgba(255, 255, 255, 0.3);
    --header: var(--colors-neutral-800);
    --body-item: var(--primary-color);
    --link-neutral: #384250;
    --base: #166FD3;
    --text: #5E5F63;
    --text2: #8A8C94;
    --border: #EEEFF4;
    --border2: #D7D7D7;
    --button: #1C2539;
    --button2: #030734;
    --ratting: #F09815;
    --bg: #F6F3EE;
    --bg1: #020001;
    --bg2: #F6F6F6;
    --bg3: #F5F6FD;
    --bg4: #074d31;
    --bg5: #F8F8F8;
    --bg6: #020626;
    --bg7: #f5faff;
    --bg8: rgb(243, 252, 246);
    --bg9: #edf7ee;
    --color-gradient-1: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 19.36%, rgba(15, 116, 230, 0.55) 71.26%, #166FD3 100%);
    --color-gradient-2: linear-gradient(180deg, rgba(0, 0, 0, 0.31) 0%, rgba(0, 0, 0, 0.78) 100%);
    --color-gradient-3: linear-gradient( 180deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.38) 100%);
    --color-gradient-4: linear-gradient(0deg, rgba(9, 42, 30, 0.2) 0%, rgba(9, 42, 30, 0.2) 100%);
    --color-gradient-primary: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(9, 42, 30, 0.8) 100%);
    --color-overlay: rgba(9, 42, 30, 0.95);
    --text-color-overlay: rgba(9, 42, 30, 0.1);
    --box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
    --box-shadow-2: 0 1px 1px rgba(0, 0, 0, 0.055);
    --margin-x-sm: 24px;
    --margin-y-sm: 24px;
    --margin-x-md: 32px;
    --margin-y-md: 32px;
    --margin-x: 88px;
    --margin-y: 64px;
    --spacing-0: 0px;
    --spacing-0․5: 2px;
    --spacing-1: 4px;
    --spacing-1․5: 6px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 24px;
    --spacing-8: 32px;
    --spacing-10: 40px;
    --spacing-12: 48px;
    --spacing-16: 64px;
    --spacing-20: 80px;
    --spacing-24: 96px;
    --spacing-32: 128px;
    --spacing-40: 160px;
    --spacing-48: 192px;
    --spacing-56: 224px;
    --spacing-64: 256px;
    --spacing-96: 384px;
    --spacing-80: 320px;
    --spacing-120: 480px;
    --spacing-140: 560px;
    --spacing-160: 640px;
    --spacing-180: 720px;
    --spacing-192: 768px;
    --spacing-256: 1024px;
    --spacing-320: 1280px;
    --spacing-360: 1440px;
    --spacing-400: 1600px;
    --spacing-480: 1920px;
    --radius-0: 0;
    --radius-2: 2px;
    --radius-4: 4px;
    --radius-8: 8px;
    --radius-16: 16px;
    --radius-24: 24px;
    --radius-9999: 9999px;
    --components-card-radius: var(--spacing-4);
    --radius-none: var(--radius-0);
    --radius-xs: var(--radius-2);
    --radius-sm: var(--radius-4);
    --radius-md: var(--radius-8);
    --radius-lg: var(--radius-16);
    --radius-xl: var(--radius-24);
    --radius-full: var(--radius-9999);
    /*// buttons */
    --btn-primary-color: #166A45;
    --btn-hover-color: #104631;
    --btn-selected-color: #104631;
    /*// Display-text h1 */
    --display-2xl: 72px;
    --display-xl: 60px;
    --display-lg: 48px;
    --display-md: 36px;
    --display-sm: 30px;
    --display-xs: 24px;
    /*//h2 */
    --display2-2xl: 38px;
    --display2-xl: 32px;
    --display2-lg: 28px;
    --display2-md: 26px;
    --display2-sm: 24px;
    --display2-xs: 22px;
    /*//text */
    --p-xl: 20px;
    --p-lg: 18px;
    --p-md: 16px;
    --p-sm: 14px;
    --p-xs: 12px;
    --p-2xs: 10px;
    --themes-text-text-default: rgba(22, 22, 22, 1);
    --themes-text-text-secondary-paragraph: rgba(27, 131, 84, 1);
    --themes-text-text-primary: rgba(27, 131, 84, 1);
    --themes-text-text-primary-paragraph: rgba(56, 66, 80, 1);
    --themes-button-button-background-primary-default: rgba(27, 131, 84, 1);
    --themes-link-link-primary-hovered: rgba(84, 192, 138, 1);
    --spacing-none: var(--spacing-0);
    --spacing-xs: var(--spacing-1);
    --spacing-md: var(--spacing-2);
    --spacing-lg: var(--spacing-3);
    --spacing-xl: var(--spacing-4);
    --spacing-2xl: var(--spacing-5);
    --spacing-3xl: var(--spacing-6);
    --spacing-4xl: var(--spacing-8);
    --spacing-5xl: var(--spacing-10);
    --spacing-6xl: var(--spacing-12);
    --spacing-7xl: var(--spacing-16);
    --spacing-8xl: var(--spacing-20);
    --spacing-9xl: var(--spacing-24);
    --spacing-10xl: var(--spacing-32);
    --spacing-11xl: var(--spacing-40);
    --spacing-spacing-md: 8px;
    --spacing-spacing-xs: 4px;
    --spacing-spacing-xl: 16px;
    --spacing-spacing-md-duplicate: 8px;
    --spacing-spacing-3xl: 24px;
    --spacing-spacing-4xl: 32px;
    --spacing-spacing-5xl: 40px;
    --colors-base-white: #ffffff;
    --colors-base-black: #161616;
    --colors-primary-sa-flag-25: #f7fdf9;
    --colors-primary-sa-flag-50: #f3fcf6;
    --colors-primary-sa-flag-100: #dff6e7;
    --colors-primary-sa-flag-200: #b8eacb;
    --colors-primary-sa-flag-300: #88d8ad;
    --colors-primary-sa-flag-400: #54c08a;
    --colors-primary-sa-flag-500-alpha-10: #25935f19;
    --colors-primary-sa-flag-500: #25935f;
    --colors-primary-sa-flag-600-primary: #1b8354;
    --colors-primary-sa-flag-700: #166a45;
    --colors-primary-sa-flag-800: #14573a;
    --colors-primary-sa-flag-900: #104631;
    --colors-primary-sa-flag-950: #092a1e;
    --colors-secondary-gold-25: #fffef7;
    --colors-secondary-gold-50: #fffef2;
    --colors-secondary-gold-100: #fffce6;
    --colors-secondary-gold-200: #fcf3bd;
    --colors-secondary-gold-300: #fae996;
    --colors-secondary-gold-400: #f7d54d;
    --colors-secondary-gold-500: #f5bd02;
    --colors-secondary-gold-600-primary: #dba102;
    --colors-secondary-gold-700: #b87b02;
    --colors-secondary-gold-800: #945c01;
    --colors-secondary-gold-900: #6e3c00;
    --colors-secondary-gold-950: #472400;
    --colors-tertiary-lavendar-25: #fefcff;
    --colors-tertiary-lavendar-50: #f9f5fa;
    --colors-tertiary-lavendar-100: #f2e9f5;
    --colors-tertiary-lavendar-200: #e1cce8;
    --colors-tertiary-lavendar-300: #ccadd9;
    --colors-tertiary-lavendar-400: #a57bba;
    --colors-tertiary-lavendar-500-primary: #80519f;
    --colors-tertiary-lavendar-600: #6d428f;
    --colors-tertiary-lavendar-700: #532d75;
    --colors-tertiary-lavendar-800: #3d1d5e;
    --colors-tertiary-lavendar-900: #281047;
    --colors-tertiary-lavendar-950: #16072e;
    --colors-gray-25: #fafafa;
    --colors-gray-50: #f5f5f6;
    --colors-gray-100: #f0f1f1;
    --colors-gray-200: #ececed;
    --colors-gray-300: #cecfd2;
    --colors-gray-400: #94969c;
    --colors-gray-500: #85888e;
    --colors-gray-600: #61646c;
    --colors-gray-700: #333741;
    --colors-gray-800: #1f242f;
    --colors-gray-900: #161b26;
    --colors-gray-950: #0c111d;
    --colors-gray-1000: #161616;
    --colors-gray-neutral-25: #fcfcfd;
    --colors-gray-neutral-50: #f9fafb;
    --colors-gray-neutral-100: #f3f4f6;
    --colors-gray-neutral-200: #e5e7eb;
    --colors-gray-neutral-300: #d2d6db;
    --colors-gray-neutral-400: #9da4ae;
    --colors-gray-neutral-500: #6c737f;
    --colors-neutral-25: #fcfcfd;
    --colors-neutral-50: #f9fafb;
    --colors-neutral-100: #f3f4f6;
    --colors-neutral-200: #e5e7eb;
    --colors-neutral-300: #d2d6db;
    --colors-neutral-400: #9da4ae;
    --colors-neutral-500: #6c727e;
    --colors-neutral-600: #4d5761;
    --colors-neutral-700: #384250;
    --colors-neutral-800: #1f2a37;
    --colors-neutral-900: #111927;
    --colors-neutral-950: #0c111b;
    --colors-brand-25: #f7fdf9;
    --colors-brand-50: #f3fcf6;
    --colors-brand-100: #dff6e7;
    --colors-brand-200: #b8eacb;
    --colors-brand-300: #88d8ad;
    --colors-brand-400: #54c08a;
    --colors-brand-500: #25935f;
    --colors-brand-600: #1b8354;
    --colors-brand-700: #166a45;
    --colors-brand-800: #14573a;
    --colors-brand-900: #104631;
    --colors-brand-950: #092a1e;
    --colors-error-25: #fffbfa;
    --colors-error-50: #fef3f2;
    --colors-error-100: #fee4e2;
    --colors-error-200: #fecdca;
    --colors-error-300: #fda29b;
    --colors-error-400: #f97066;
    --colors-error-500: #f04438;
    --colors-error-600: #d92d20;
    --colors-error-700: #b42318;
    --colors-error-800: #912018;
    --colors-error-900: #7a271a;
    --colors-error-950: #55160c;
    --colors-warning-25: #fffcf5;
    --colors-warning-50: #fffaeb;
    --colors-warning-100: #fef0c7;
    --colors-warning-200: #fedf89;
    --colors-warning-300: #fec84b;
    --colors-warning-400: #fdb022;
    --colors-warning-500: #f79009;
    --colors-warning-600: #dc6803;
    --colors-warning-700: #b54708;
    --colors-warning-800: #93370d;
    --colors-warning-900: #7a2e0e;
    --colors-warning-950: #4e1d09;
    --colors-success-25: #f6fef9;
    --colors-success-50: #ecfdf3;
    --colors-success-100: #dcfae6;
    --colors-success-200: #abefc6;
    --colors-success-300: #75e0a7;
    --colors-success-400: #47cd89;
    --colors-success-500: #17b26a;
    --colors-success-600: #079455;
    --colors-success-700: #067647;
    --colors-success-800: #085d3a;
    --colors-success-900: #074d31;
    --colors-success-950: #053321;
    --colors-info-25: #f5faff;
    --colors-info-50: #eff8ff;
    --colors-info-100: #d1e9ff;
    --colors-info-200: #b2ddff;
    --colors-info-300: #84caff;
    --colors-info-400: #53b1fd;
    --colors-info-500: #2e90fa;
    --colors-info-600: #1570ef;
    --colors-info-700: #175cd3;
    --colors-info-800: #1849a9;
    --colors-info-900: #194185;
    --colors-info-950: #102a56;
    --colors-gray-blue-25: #fcfcfd;
    --colors-gray-blue-50: #f8f9fc;
    --colors-gray-blue-100: #eaecf5;
    --colors-gray-blue-200: #d5d9eb;
    --colors-gray-blue-300: #b3b8db;
    --colors-gray-blue-400: #717bbc;
    --colors-gray-blue-500: #4e5ba6;
    --colors-gray-blue-600: #3e4784;
    --colors-gray-blue-700: #363f72;
    --colors-gray-blue-800: #293056;
    --colors-gray-blue-900: #101323;
    --colors-gray-blue-950: #0d0f1c;
    --colors-gray-cool-25: #fcfcfd;
    --colors-gray-cool-50: #f9f9fb;
    --colors-gray-cool-100: #eff1f5;
    --colors-gray-cool-200: #dcdfea;
    --colors-gray-cool-300: #b9c0d4;
    --colors-gray-cool-400: #7d89b0;
    --colors-gray-cool-500: #5d6b98;
    --colors-gray-cool-600: #4a5578;
    --colors-gray-cool-700: #404968;
    --colors-gray-cool-800: #30374f;
    --colors-gray-cool-900: #111322;
    --colors-gray-cool-950: #0e101b;
    --colors-gray-modern-25: #fcfcfd;
    --colors-gray-modern-50: #f8fafc;
    --colors-gray-modern-100: #eef2f6;
    --colors-gray-modern-200: #e3e8ef;
    --colors-gray-modern-300: #cdd5df;
    --colors-gray-modern-400: #9aa4b2;
    --colors-gray-modern-500: #697586;
    --colors-gray-modern-600: #4b5565;
    --colors-gray-modern-700: #364152;
    --colors-gray-modern-800: #202939;
    --colors-gray-modern-900: #121926;
    --colors-gray-modern-950: #0d121c;
    --colors-gray-neutral-25: #fcfcfd;
    --colors-gray-neutral-50: #f9fafb;
    --colors-gray-neutral-100: #f3f4f6;
    --colors-gray-neutral-200: #e5e7eb;
    --colors-gray-neutral-300: #d2d6db;
    --colors-gray-neutral-400: #9da4ae;
    --colors-gray-neutral-500: #6c737f;
    --colors-gray-neutral-600: #4d5761;
    --colors-gray-neutral-700: #384250;
    --colors-gray-neutral-800: #1f2a37;
    --colors-gray-neutral-900: #111927;
    --colors-gray-neutral-950: #0d121c;
    --colors-gray-iron-25: #fcfcfc;
    --colors-gray-iron-50: #fafafa;
    --colors-gray-iron-100: #f4f4f5;
    --colors-gray-iron-200: #e4e4e7;
    --colors-gray-iron-300: #d1d1d6;
    --colors-gray-iron-400: #a0a0ab;
    --colors-gray-iron-500: #70707b;
    --colors-gray-iron-600: #51525c;
    --colors-gray-iron-700: #3f3f46;
    --colors-gray-iron-800: #26272b;
    --colors-gray-iron-900: #1a1a1e;
    --colors-gray-iron-950: #131316;
    --colors-gray-true-25: #fcfcfc;
    --colors-gray-true-50: #fafafa;
    --colors-gray-true-100: #f5f5f5;
    --colors-gray-true-200: #e5e5e5;
    --colors-gray-true-300: #d6d6d6;
    --colors-gray-true-400: #a3a3a3;
    --colors-gray-true-500: #737373;
    --colors-gray-true-600: #525252;
    --colors-gray-true-700: #424242;
    --colors-gray-true-800: #292929;
    --colors-gray-true-900: #141414;
    --colors-gray-true-950: #0f0f0f;
    --colors-gray-warm-25: #fdfdfc;
    --colors-gray-warm-50: #fafaf9;
    --colors-gray-warm-100: #f5f5f4;
    --colors-gray-warm-200: #e7e5e4;
    --colors-gray-warm-300: #d7d3d0;
    --colors-gray-warm-400: #a9a29d;
    --colors-gray-warm-500: #79716b;
    --colors-gray-warm-600: #57534e;
    --colors-gray-warm-700: #44403c;
    --colors-gray-warm-800: #292524;
    --colors-gray-warm-900: #1c1917;
    --colors-gray-warm-950: #171412;
    --colors-moss-25: #fafdf7;
    --colors-moss-50: #f5fbee;
    --colors-moss-100: #e6f4d7;
    --colors-moss-200: #ceeab0;
    --colors-moss-300: #acdc79;
    --colors-moss-400: #86cb3c;
    --colors-moss-500: #669f2a;
    --colors-moss-600: #4f7a21;
    --colors-moss-700: #3f621a;
    --colors-moss-800: #335015;
    --colors-moss-900: #2b4212;
    --colors-moss-950: #1a280b;
    --colors-green-light-25: #fafef5;
    --colors-green-light-50: #f3fee7;
    --colors-green-light-100: #e3fbcc;
    --colors-green-light-200: #d0f8ab;
    --colors-green-light-300: #a6ef67;
    --colors-green-light-400: #85e13a;
    --colors-green-light-500: #66c61c;
    --colors-green-light-600: #4ca30d;
    --colors-green-light-700: #3b7c0f;
    --colors-green-light-800: #326212;
    --colors-green-light-900: #2b5314;
    --colors-green-light-950: #15290a;
    --colors-blue-25: #f5faff;
    --colors-blue-50: #eff8ff;
    --colors-blue-100: #d1e9ff;
    --colors-blue-200: #b2ddff;
    --colors-blue-300: #84caff;
    --colors-blue-400: #53b0fd;
    --colors-blue-500: #2e90fa;
    --colors-blue-600: #156fee;
    --colors-blue-700: #175cd3;
    --colors-blue-800: #1849a9;
    --colors-blue-900: #194084;
    --colors-blue-950: #102a56;
    --colors-green-25: #f6fef9;
    --colors-green-50: #ecfdf3;
    --colors-green-100: #dcfae6;
    --colors-green-200: #abefc6;
    --colors-green-300: #75dfa6;
    --colors-green-400: #47cd89;
    --colors-green-500: #17b169;
    --colors-green-600: #069454;
    --colors-green-700: #067647;
    --colors-green-800: #085d3a;
    --colors-green-900: #074c30;
    --colors-green-950: #053321;
    --colors-yellow-25: #fffcf5;
    --colors-yellow-50: #fffaeb;
    --colors-yellow-100: #fef0c7;
    --colors-yellow-200: #fedf89;
    --colors-yellow-300: #fec84b;
    --colors-yellow-400: #fdb022;
    --colors-yellow-500: #f79009;
    --colors-yellow-600: #dc6803;
    --colors-yellow-700: #b54707;
    --colors-yellow-800: #93370c;
    --colors-yellow-900: #7a2e0e;
    --colors-yellow-950: #4e1d09;
    --colors-red-25: #fffbfa;
    --colors-red-50: #fef3f2;
    --colors-red-100: #fee4e2;
    --colors-red-200: #fecdca;
    --colors-red-300: #fca19b;
    --colors-red-400: #f97066;
    --colors-red-500: #f04437;
    --colors-red-600: #d92c20;
    --colors-red-700: #b42318;
    --colors-red-800: #912018;
    --colors-red-900: #7a2619;
    --colors-red-950: #54150c;
    --icon-default: var(--colors-base-black);
    --text-md-medium-font-family: "IBM Plex Sans Arabic", Helvetica;
    --text-md-medium-font-weight: 500;
    --text-md-medium-font-size: 16px;
    --text-md-medium-letter-spacing: 0px;
    --text-md-medium-line-height: 24px;
    --text-md-medium-font-style: normal;
    --text-sm-regular-font-family: "IBM Plex Sans Arabic", Helvetica;
    --text-sm-regular-font-weight: 400;
    --text-sm-regular-font-size: 14px;
    --text-sm-regular-letter-spacing: 0px;
    --text-sm-regular-line-height: 20px;
    --text-sm-regular-font-style: normal;
    --text-sm-regular-underlined-font-family: "IBM Plex Sans Arabic", Helvetica;
    --text-sm-regular-underlined-font-weight: 400;
    --text-sm-regular-underlined-font-size: 14px;
    --text-sm-regular-underlined-letter-spacing: 0px;
    --text-sm-regular-underlined-line-height: 20px;
    --text-sm-regular-underlined-font-style: normal;
    --text-sm-semibold-font-family: "IBM Plex Sans Arabic", Helvetica;
    --text-sm-semibold-font-weight: 600;
    --text-sm-semibold-font-size: 14px;
    --text-sm-semibold-letter-spacing: 0px;
    --text-sm-semibold-line-height: 20px;
    --text-sm-semibold-font-style: normal;
    --text-xs-regular-font-family: "IBM Plex Sans Arabic", Helvetica;
    --text-xs-regular-font-weight: 400;
    --text-xs-regular-font-size: 12px;
    --text-xs-regular-letter-spacing: 0px;
    --text-xs-regular-line-height: normal;
    --text-xs-regular-font-style: normal;
    --display-md-bold-font-family: "IBM Plex Sans Arabic", Helvetica;
    --display-md-bold-font-weight: 700;
    --display-md-bold-font-size: 36px;
    --display-md-bold-letter-spacing: -0.72px;
    --display-md-bold-line-height: 44px;
    --display-md-bold-font-style: normal;
    --text-lg-regular-font-family: "IBM Plex Sans Arabic", Helvetica;
    --text-lg-regular-font-weight: 400;
    --text-lg-regular-font-size: 18px;
    --text-lg-regular-letter-spacing: 0px;
    --text-lg-regular-line-height: 28px;
    --text-lg-regular-font-style: normal;
    --text-xl-regular-font-family: "IBM Plex Sans Arabic", Helvetica;
    --text-xl-regular-font-weight: 400;
    --text-xl-regular-font-size: 20px;
    --text-xl-regular-letter-spacing: 0px;
    --text-xl-regular-line-height: 30px;
    --text-xl-regular-font-style: normal;
    --text-lg-bold-font-family: "IBM Plex Sans Arabic", Helvetica;
    --text-lg-bold-font-weight: 700;
    --text-lg-bold-font-size: 18px;
    --text-lg-bold-letter-spacing: 0px;
    --text-lg-bold-line-height: 28px;
    --text-lg-bold-font-style: normal;
    --text-md-regular-font-family: "IBM Plex Sans Arabic", Helvetica;
    --text-md-regular-font-weight: 400;
    --text-md-regular-font-size: 16px;
    --text-md-regular-letter-spacing: 0px;
    --text-md-regular-line-height: 24px;
    --text-md-regular-font-style: normal;
    --text-md-semibold-font-family: "IBM Plex Sans Arabic", Helvetica;
    --text-md-semibold-font-weight: 600;
    --text-md-semibold-font-size: 16px;
    --text-md-semibold-letter-spacing: 0px;
    --text-md-semibold-line-height: 24px;
    --text-md-semibold-font-style: normal;
    --text-md-bold-font-family: "IBM Plex Sans Arabic", Helvetica;
    --text-md-bold-font-weight: 700;
    --text-md-bold-font-size: 16px;
    --text-md-bold-letter-spacing: 0px;
    --text-md-bold-line-height: 24px;
    --text-md-bold-font-style: normal;
    --display-xs-semibold-font-family: "IBM Plex Sans Arabic", Helvetica;
    --display-xs-semibold-font-weight: 600;
    --display-xs-semibold-font-size: 24px;
    --display-xs-semibold-letter-spacing: 0px;
    --display-xs-semibold-line-height: 32px;
    --display-xs-semibold-font-style: normal;
    --display-xl-bold-font-family: "IBM Plex Sans Arabic", Helvetica;
    --display-xl-bold-font-weight: 700;
    --display-xl-bold-font-size: 60px;
    --display-xl-bold-letter-spacing: -1.2px;
    --display-xl-bold-line-height: 72px;
    --display-xl-bold-font-style: normal;
    --text-sm-medium-font-family: "IBM Plex Sans Arabic", Helvetica;
    --text-sm-medium-font-weight: 500;
    --text-sm-medium-font-size: 14px;
    --text-sm-medium-letter-spacing: 0px;
    --text-sm-medium-line-height: 20px;
    --text-sm-medium-font-style: normal;
    --display-xl-medium-font-family: "IBM Plex Sans Arabic", Helvetica;
    --display-xl-medium-font-weight: 500;
    --display-xl-medium-font-size: 60px;
    --display-xl-medium-letter-spacing: -1.2px;
    --display-xl-medium-line-height: 72px;
    --display-xl-medium-font-style: normal;
    --text-xs-medium-font-family: "IBM Plex Sans Arabic", Helvetica;
    --text-xs-medium-font-weight: 500;
    --text-xs-medium-font-size: 12px;
    --text-xs-medium-letter-spacing: 0px;
    --text-xs-medium-line-height: 18px;
    --text-xs-medium-font-style: normal;
    --shadows-shadow-md: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.1);
    --themes-background-background-primary-25: var(--primitives-colors-primary-SA-flag-25);
    --themes-text-text-oncolor-primary: var(--primitives-colors-base-white);
    --themes-link-link-oncolor: var(--primitives-colors-base-white);
    --themes-text-text-default: var(--primitives-colors-base-black);
    --themes-text-text-secondary-paragraph: var(--primitives-colors-neutral-500);
    --themes-text-text-primary: var(--primitives-colors-primary-SA-flag-600-primary);
    --themes-text-text-primary-paragraph: var(--primitives-colors-neutral-700);
    --themes-background-background-neutral-50: var(--primitives-colors-neutral-50);
    --themes-background-background-primary-400: var(--primitives-colors-primary-SA-flag-400);
    --themes-background-background-white: var(--primitives-colors-base-white);
    --themes-icon-bg-icon-brand-light: var(--primitives-colors-primary-SA-flag-50);
    --themes-border-border-oncolor-transparent-30: var(--primitives-colors-alpha-alpha-white-30);
    --themes-border-border-primary: var(--primitives-colors-primary-SA-flag-600-primary);
    --themes-alpha-alpha-primary-10: rgba(27, 131, 84, 0.1);
    --themes-button-button-background-primary-default: var(--primitives-colors-primary-SA-flag-600-primary);
    --themes-button-button-background-neutral-default: var(--primitives-colors-neutral-100);
    --themes-border-border-white: var(--primitives-colors-base-white);
    --themes-button-button-background-neutral-pressed: var(--primitives-colors-neutral-200);
    --themes-background-background-card: var(--primitives-colors-base-white);
    --themes-background-background-primary: var(--primitives-colors-primary-SA-flag-600-primary);
    --themes-alpha-alpha-white-20: var(--primitives-colors-alpha-alpha-white-20);
    --themes-border-border-neutral-primary: var(--primitives-colors-neutral-300);
    --themes-border-border-neutral-secondary: var(--primitives-colors-neutral-200);
    --themes-background-background-SA-flag: var(--primitives-colors-green-900);
    --themes-link-link-primary-hovered: rgba(84, 192, 138, 1);
    --themes-background-background-neutral-400: var(--primitives-colors-neutral-400);
    --themes-button-button-background-neutral-hovered: var(--primitives-colors-neutral-100);
    --themes-button-button-background-black-default: var(--primitives-colors-neutral-950);
    --themes-button-button-background-primary-hovered: var(--primitives-colors-primary-SA-flag-700);
    --themes-button-button-background-black-hovered: var(--primitives-colors-neutral-800);
    --themes-border-border-black: var(--primitives-colors-base-black);
    --themes-text-text-display: var(--primitives-colors-neutral-800);
    --themes-tag-tag-text-neutral: var(--primitives-colors-neutral-800);
    --themes-tag-tag-background-neutral-light: var(--primitives-colors-neutral-50);
    --themes-background-background-primary-50: var(--primitives-colors-primary-SA-flag-50);
    --themes-link-link-oncolor-hovered: var(--primitives-colors-alpha-alpha-white-80);
    --primitives-colors-primary-SA-flag-25: rgba(247, 253, 249, 1);
    --primitives-colors-base-white: rgba(255, 255, 255, 1);
    --primitives-colors-base-black: rgba(22, 22, 22, 1);
    --primitives-colors-neutral-500: rgba(108, 115, 127, 1);
    --primitives-colors-primary-500: rgba(37, 147, 95, 1);
    --primitives-colors-primary-SA-flag-600-primary: rgba(27, 131, 84, 1);
    --primitives-colors-neutral-700: rgba(56, 66, 80, 1);
    --primitives-spacing-1-4px: 4px;
    --primitives-colors-neutral-50: rgba(249, 250, 251, 1);
    --primitives-colors-primary-SA-flag-400: rgba(84, 192, 138, 1);
    --primitives-spacing-4-16px: 16px;
    --primitives-spacing-2-8px-duplicate: 8px;
    --primitives-colors-primary-SA-flag-950: rgba(9, 42, 30, 1);
    --primitives-spacing-0-0px: 0px;
    --primitives-spacing-3-12px: 12px;
    --primitives-colors-primary-SA-flag-50: rgba(243, 252, 246, 1);
    --primitives-colors-alpha-alpha-white-30: rgba(255, 255, 255, 0.3);
    --primitives-spacing-6-24px: 24px;
    --primitives-colors-neutral-200: rgba(229, 231, 235, 1);
    --primitives-colors-neutral-100: rgba(243, 244, 246, 1);
    --primitives-colors-neutral-950: rgba(13, 18, 28, 1);
    --primitives-radius-radius-4: 4px;
    --primitives-spacing-5-20px: 20px;
    --primitives-colors-neutral-900: rgba(17, 25, 39, 1);
    --primitives-colors-alpha-alpha-white-20: rgba(255, 255, 255, 0.2);
    --primitives-colors-neutral-300: rgba(210, 214, 219, 1);
    --primitives-colors-neutral-800: rgba(31, 42, 55, 1);
    --primitives-colors-neutral-600: rgba(77, 87, 97, 1);
    --primitives-colors-alpha-alpha-black-20: rgba(22, 22, 22, 0.2);
    --primitives-colors-green-900: rgba(7, 77, 49, 1);
    --primitives-colors-neutral-400: rgba(157, 164, 174, 1);
    --primitives-colors-primary-SA-flag-700: rgba(22, 106, 69, 1);
    --primitives-colors-alpha-alpha-600-primary-10: rgba(27, 131, 84, 0.1);
    --primitives-colors-alpha-alpha-white-80: rgba(255, 255, 255, 0.8);
    --spacing-link-link-sm-gap: var(--primitives-spacing-1-4px);
    --spacing-button-buttons-md-gap: var(--primitives-spacing-1-4px);
    --spacing-button-buttons-lg-gap: var(--primitives-spacing-1-4px);
    --spacing-button-buttons-lg-padding: var(--primitives-spacing-4-16px);
    --spacing-global-spacing-none: var(--primitives-spacing-0-0px);
    --spacing-button-buttons-md-padding: var(--primitives-spacing-3-12px);
    --spacing-model-modal-padding: var(--primitives-spacing-6-24px);
    --spacing-card-card-sm-gap: var(--primitives-spacing-6-24px);
    --spacing-tab-tab-button-gap: var(--primitives-spacing-1-4px);
    --spacing-tab-horizontal-tab-md-button-h-padding: var(--primitives-spacing-4-16px);
    --spacing-card-card-lg-gap: var(--primitives-spacing-6-24px);
    --spacing-global-spacing-xl: var(--primitives-spacing-4-16px);
    --spacing-global-spacing-lg: var(--primitives-spacing-3-12px);
    --spacing-tab-vertical-tab-md-button-h-padding: var(--primitives-spacing-3-12px);
    --spacing-global-spacing-xs: var(--primitives-spacing-1-4px);
    --radius-radius-full: 9999px;
    --radius-radius-full-duplicate: 9999px;
    --radius-radius-sm: 4px;
    --radius-radius-lg: 16px;
    --spacing-spacing-md: var(--primitives-spacing-2-8px);
    --spacing-spacing-xs: var(--primitives-spacing-1-4px-duplicate);
    --spacing-spacing-xl: var(--primitives-spacing-4-16px-duplicate);
    --spacing-spacing-md-duplicate: var(--primitives-spacing-2-8px-duplicate);
    --spacing-spacing-3xl: var(--primitives-spacing-6-24px-duplicate);
    --spacing-spacing-4xl: var(--primitives-spacing-8-32px);
    --spacing-spacing-5xl: var(--primitives-spacing-10-40px);
    --primitives-spacing-2-8px: 8px;
    --primitives-spacing-1-4px-duplicate: 4px;
    --primitives-spacing-4-16px-duplicate: 16px;
    --primitives-spacing-6-24px-duplicate: 24px;
    --primitives-spacing-8-32px: 32px;
    --primitives-spacing-10-40px: 40px;
    --primitives-colors-gray-neutral-950: rgba(13, 18, 28, 1);
    --radius-radius-radius-sm: var(--primitives-radius-radius-4);
    /* added to inner */
    --background-neutral-100: #F3F4F6;
    --notification-h-padding: 24px;
    --notification-padding: 16px;
    --notification-gap: 12px;
    --background-warning: #DC6803;
    --background-white: var(--colors-base-white);
    --background-body: var(--colors-neutral-50);
    --background-menu: var(--colors-base-white);
    --background-card: var(--colors-base-white);
    --background-surface-oncolor: var(--colors-base-white);
    --background-black: var(--colors-base-black);
    --background-neutral-800: var(--colors-neutral-800);
    --background-neutral-400: var(--colors-neutral-400);
    --background-neutral-300: var(--colors-neutral-300);
    --background-neutral-200: var(--colors-neutral-200);
    --background-neutral-100: var(--colors-neutral-100);
    --background-neutral-50: var(--colors-neutral-50);
    --background-neutral-25: var(--colors-neutral-25);
    --background-primary: var(--colors-primary-sa-flag-600-primary);
    --background-primary-400: var(--colors-primary-sa-flag-400);
    --background-primary-200: var(--colors-primary-sa-flag-200);
    --background-primary-50: var(--colors-primary-sa-flag-50);
    --background-primary-25: var(--colors-primary-sa-flag-25);
    --background-secondary: var(--colors-secondary-gold-600-primary);
    --background-secondary-50: var(--colors-secondary-gold-50);
    --background-secondary-25: var(--colors-secondary-gold-25);
    --background-tertiary: var(--colors-tertiary-lavendar-600);
    --background-tertiary-50: var(--colors-tertiary-lavendar-50);
    --background-tertiary-25: var(--colors-tertiary-lavendar-25);
    --background-success: var(--colors-green-600);
    --background-success-50: var(--colors-green-50);
    --background-success-25: var(--colors-green-25);
    --background-info: var(--colors-blue-600);
    --background-info-50: var(--colors-blue-50);
    --background-info-25: var(--colors-blue-25);
    --background-warning: var(--colors-yellow-600);
    --background-warning-50: var(--colors-yellow-50);
    --background-warning-25: var(--colors-yellow-25);
    --background-error: var(--colors-red-600);
    --background-error-50: var(--colors-red-50);
    --background-error-25: var(--colors-red-25);
    --background-sa-flag: var(--colors-green-900);
    --background-sa-flag-50: var(--colors-green-50);
    --background-sa-flag-25: var(--colors-green-25);
    --background-notification-white: var(--colors-base-white);
    --Bg-icon-warning-light: #FFFAEB;
    --radius-radius-md: 8px;
    --table-cell-border: var(--colors-neutral-300);
    --table-cell-border-inverse: var(--border-black);
    --table-text-head: #384250;
    --table-cell-v-padding: 8px;
    --table-cell-h-padding: 16px;
    --table-cell-border-color: #D2D6DB;
    --table-background-disabled: var(--background-disabled);
    --table-background-hover-selected: var(--colors-neutral-50);
    --table-background-header: var(--colors-neutral-100);
    --table-background-row: var(--colors-neutral-50);
    --table-text-body: var(--text-default);
    --controls-control-primary-checked: var(--colors-primary-sa-flag-600-primary);
    --controls-control-primary-hovered: var(--colors-primary-sa-flag-800);
    --controls-control-primary-pressed: var(--colors-primary-sa-flag-800);
    --controls-control-primary-focused: var(--colors-primary-sa-flag-600-primary);
    --controls-control-neutral-checked: var(--colors-neutral-950);
    --controls-control-neutral-hovered: var(--colors-neutral-600);
    --controls-control-neutral-pressed: var(--colors-neutral-600);
    --controls-control-neutral-focused: var(--colors-neutral-950);
    --controls-control-primary--readonly: var(--alpha-white-0);
    --controls-control-pressed: var(--colors-neutral-300);
    --controls-control-ripple-effect: var(--colors-neutral-200);
    --controls-control-border: var(--colors-neutral-500);
    --border-success: #067647;
    --border-black: var(--colors-base-black);
    --border-primary: var(--colors-primary-sa-flag-600-primary);
    --border-primary-light: var(--colors-primary-sa-flag-200);
    --border-secondary: var(--colors-secondary-gold-600-primary);
    --border-secondary-light: var(--colors-secondary-gold-200);
    --border-tertiary: var(--colors-tertiary-lavendar-500-primary);
    --border-tertiary-light: var(--colors-tertiary-lavendar-200);
    --border-neutral-primary: var(--colors-neutral-300);
    --border-neutral-secondary: var(--colors-neutral-200);
    --border-neutral-tertiary: var(--colors-neutral-100);
    --border-background-white: var(--colors-neutral-100);
    --border-background-neutral: var(--colors-neutral-300);
    --border-transparent-10: var(--alpha-white-10);
    --border-oncolor-transparent-30: var(--colors-alpha-alpha-white-30);
    --border-success: var(--colors-green-700);
    --button-label-transparent-pressed-on-color: var(--colors-primary-sa-flag-300);
    --border-success-light: var(--colors-green-200);
    --border-info: var(--colors-blue-700);
    --button-label-transparent-selected-on-color: var(--colors-primary-sa-flag-400);
    --border-info-light: var(--colors-blue-200);
    --button-icon-transparent-hovered-on-color: var(--background-primary-400);
    --border-warning: var(--colors-yellow-700);
    --border-warning-light: var(--colors-yellow-200);
    --border-error: var(--colors-red-700);
    --button-icon-transparent-pressed-on-color: var(--colors-primary-sa-flag-300);
    --border-error-light: var(--colors-red-200);
    --button-icon-transparent-selected-on-color: var(--colors-primary-sa-flag-400);
    --border-disabled: var(--colors-neutral-400);
    --neutral-primary: #d2d6db;
    --neutral-default: #f3f4f6;
    --neutral-secondary: #e5e7eb;
    --neutral-light: #f9fafb;
    --link-neutral: #384250;
    --link-primary: var(--colors-primary-sa-flag-600-primary);
    --link-primary-hovered: var(--colors-primary-sa-flag-400);
    --link-primary-pressed: var(--colors-primary-sa-flag-300);
    --link-primary-focused: var(--colors-primary-sa-flag-600-primary);
    --link-primary-visited: var(--colors-primary-sa-flag-800);
    --text-primary-paragraph: #384250;
    --background-disabled: #E5E7EB;
    --text-default-disabled: #9DA4AE;
    --button-background-danger: #D92D20;
    --tag-text-success: #085D3A;
    --tag-background-neutral: var(--colors-neutral-600);
    --tag-background-neutral-light: var(--colors-neutral-50);
    --tag-background-on-color: var(--colors-alpha-alpha-white-20);
    --tag-text-neutral: var(--colors-neutral-800);
    --tag-text-success: var(--colors-green-800);
    --tag-text-info: var(--colors-blue-800);
    --tag-text-warning: var(--colors-yellow-800);
    --tag-text-error: var(--colors-red-800);
    --tag-icon-neutral: var(--colors-neutral-800);
    --tag-icon-success: var(--colors-green-800);
    --tag-icon-info: var(--colors-blue-800);
    --tag-icon-warning: var(--colors-yellow-800);
    --tag-icon-error: var(--colors-red-800);
    --tag-background-success: var(--colors-green-700);
    --tag-background-success-light: var(--colors-green-50);
    --tag-background-info: var(--colors-blue-600);
    --tag-background-info-light: var(--colors-blue-50);
    --tag-background-warning: var(--colors-yellow-700);
    --tag-background-warning-light: var(--colors-yellow-50);
    --tag-background-error: var(--colors-red-600);
    --tag-background-error-light: var(--colors-red-50);
    --tag-border-neutral: var(--colors-neutral-600);
    --tag-border-neutral-light: var(--colors-neutral-50);
    --tag-border-on-color: var(--colors-alpha-alpha-white-60);
    --tag-border-success: var(--colors-green-700);
    --tag-border-success-light: var(--colors-green-200);
    --tag-border-info: var(--colors-blue-700);
    --tag-border-info-light: var(--colors-blue-200);
    --tag-border-warning: var(--colors-yellow-700);
    --tag-border-warning-light: var(--colors-yellow-200);
    --tag-border-error: var(--colors-red-700);
    --tag-border-error-light: var(--colors-red-200);
    --tag-dot: var(--colors-alpha-alpha-white-60);
    --nav-link-hover: #F3F4F6;
    --nav-link-active: #E5E7EB;
    --button-background-neutral-default: var(--colors-neutral-100);
    --button-background-neutral-hovered: var(--colors-neutral-100);
    --button-background-neutral-pressed: var(--colors-neutral-200);
    --button-background-neutral-selected: var(--colors-neutral-200);
    --button-background-neutral-focused: var(--colors-neutral-100);
    --button-background-black-default: var(--colors-neutral-950);
    --button-background-black-hovered: var(--colors-neutral-800);
    --button-background-black-pressed: var(--colors-neutral-600);
    --button-background-black-selected: var(--colors-neutral-700);
    --button-background-black-focused: var(--colors-neutral-950);
    --button-background-primary-default: var(--colors-primary-sa-flag-600-primary);
    --button-background-primary-hovered: var(--colors-primary-sa-flag-700);
    --button-background-primary-pressed: var(--colors-primary-sa-flag-900);
    --button-background-primary-selected: var(--colors-primary-sa-flag-800);
    --button-background-primary-focused: var(--colors-primary-sa-flag-600-primary);
    --button-background-neutral-default: var(--colors-neutral-100);
    --button-background-neutral-hovered: var(--colors-neutral-100);
    --button-background-neutral-pressed: var(--colors-neutral-200);
    --button-background-neutral-selected: var(--colors-neutral-200);
    --button-background-neutral-focused: var(--colors-neutral-100);
    --button-background-danger-primary-default: var(--colors-red-600);
    --button-background-danger-primary-hovered: var(--colors-red-700);
    --button-background-danger-primary-pressed: var(--colors-red-900);
    --button-background-danger-primary-selected: var(--colors-red-800);
    --button-background-danger-primary-focused: var(--colors-red-600);
    --button-label-danger-primary-default-oncolor: var(--colors-red-200);
    --button-label-danger-primary-hovered-oncolor: var(--colors-red-300);
    --button-label-danger-primary-pressed-oncolor: var(--colors-red-400);
    --button-background-danger-secondary-default: var(--colors-red-50);
    --button-background-danger-secondary-hovered: var(--colors-red-100);
    --button-background-danger-secondary-pressed: var(--colors-red-200);
    --button-background-danger-secondary-selected: var(--colors-red-50);
    --button-background-danger-secondary-focused: var(--colors-red-50);
    --button-background-oncolor-default: var(--colors-base-white);
    --button-background-oncolor-hovered: var(--alpha-white-80);
    --button-background-oncolor-pressed: var(--alpha-white-60);
    --button-background-oncolor-selected: var(--alpha-white-70);
    --button-background-oncolor-focused: var(--alpha-white-100);
    --button-background-transparent-default: var(--alpha-white-0);
    --button-background-transparent-hovered: var(--alpha-white-20);
    --button-background-transparent-pressed: var(--alpha-white-40);
    --button-background-transparent-selected: var(--alpha-white-30);
    --button-background-transparent-focused: var(--alpha-white-0);
    --button-background-disabled-on-color: var(--alpha-white-20);
    --button-label-transparent-hovered-on-color: var(--colors-primary-sa-flag-400);
    --icon-text-gap: var(--spacing-2);
    --buttons-lg-gap: var(--spacing-1);
    --buttons-lg-padding: var(--spacing-4);
    --buttons-md-gap: var(--spacing-1);
    --buttons-md-padding: var(--spacing-3);
    --buttons-sm-gap: var(--spacing-1);
    --buttons-sm-padding: var(--spacing-2);
    --buttons-group-gap: var(--spacing-2);
    --button-menu-gap: var(--spacing-2);
    --button-menu-v-padding: var(--spacing-2);
    --button-menu-h-padding: var(--spacing-2);
    --accordion-lg-header-padding: var(--spacing-4);
    --accordion-lg-header-gap: var(--spacing-4);
    --accordion-md-header-padding: var(--spacing-3);
    --accordion-md-header-gap: var(--spacing-3);
    --accordion-sm-header-padding: var(--spacing-2);
    --accordion-sm-header-gap: var(--spacing-2);
    --field-border-error: #B42318;
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}


body {
    font-family: "IBMPlexSansArabic", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;   
    background-color: var(--colors-gray-neutral-50);
}
.calendar-year-print {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .calendar-year-print .current-year {
        font-size: var(--display-2xl);
        font-weight: var(--display-md-bold-font-weight);
        color: var(--colors-gray-neutral-800)
    }
html[lang="en"] .calendar-year-print .current-year {
    order: 6 !important;
}

    .calendar-year-print h3 {        
        font-weight: var(--display-md-bold-font-weight);
    }
    .calendar-year-print .subtitle {
        font-size: var(--text-md-regular-font-size);
    }
